<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ewing.mapper.LogTableMapper">

    <resultMap id="BaseResultMap" type="com.ewing.domain.entity.LogTable">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="operationUser" column="operation_user" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="requestUrl" column="request_url" jdbcType="VARCHAR"/>
            <result property="method" column="method" jdbcType="VARCHAR"/>
            <result property="requestMethod" column="request_method" jdbcType="VARCHAR"/>
            <result property="requestParam" column="request_param" jdbcType="VARCHAR"/>
            <result property="responseResult" column="response_result" jdbcType="VARCHAR"/>
            <result property="ip" column="ip" jdbcType="VARCHAR"/>
            <result property="ipLocation" column="ip_location" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="CHAR"/>
            <result property="errorMessage" column="error_message" jdbcType="VARCHAR"/>
            <result property="takeTime" column="take_time" jdbcType="BIGINT"/>
            <result property="operationTime" column="operation_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,user_id,
        operation_user,content,request_url,
        method,request_method,request_param,
        response_result,ip,ip_location,
        status,error_message,take_time,
        operation_time
    </sql>
</mapper>
